


.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.errSpan{
    color : red
}

.autocomplete-container{

}
.column {
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    flex-direction: row;
}

.search-input-container{
   width: 300px;
}

.btn-submit{
    text-align: center;
}
