


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px
}


.autocomplete-container{

}
.column {
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    flex-direction: row;
}
